.grid-component {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 150px 1fr 100px;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    'header header'
    'sidebar content'
    'footer footer';
}

.grid-component-item {
  padding: 1rem;
}

.header {
  background-color: green;
  grid-row: header;
  grid-column: header / span 2;
}

.sidebar {
  background-color: blue;
  grid-row: sidebar;
  grid-column: sidebar;
}

.content {
  background-color: red;
  grid-row: content;
}

.footer {
  background-color: yellow;
  grid-row: footer;
  grid-column: footer / span 2;
}
