.grid-component {
  display: grid;
  grid-gap: 1rem;
  background-color: black;
  grid-template-rows: [outer-start] 100px [inner-start] 100px [inner-end] 100px [outer-end];
  grid-template-columns: [outer-start] 100px [inner-start] 100px [inner-end] 100px [outer-end];
}

.grid-component-item {
  background-color: salmon;
  padding: 1rem;
  border-radius: 0.5rem;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
  grid-area: inner;
}

.header {
}

.sidebar {
}

.content {
}

.footer {
}
